<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Music service</title>
	
	<link rel="stylesheet" type="text/css" href="/css/main.css">

	<script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
	
	<!-- Upload fixed window -->
	<div class="upload-block unvisible">
		<div class="upload">
			<div class="upload-text">
				<p>Drop files here to upload</p>
			</div>
		</div>
	</div>

	<div class="app">
		<div class="block">
			<!-- MAIN.HBS -->
			<div class="content">
				<div class="music">
					<div class="search">
						<div class="search-wrapper">
							<input type="text" placeholder="Seach for tracks">
						</div>
					</div>
					<div class="tracks">
						<ul>
							<li class="track-item">
								<div class="btn"></div><p class="track-name">6IX9INE - KEKE</p><div class="info"><p>0 plays</p></div>
							</li>
							<li class="track-item">
								<div class="btn"></div><p class="track-name">lil peep - Usaid</p><div class="info"><p>0 plays</p></div>
							</li>
							<li class="track-item">
								<div class="btn"></div><p class="track-name">record 010219</p><div class="info"><p>0 plays</p></div>
							</li>
							<li class="track-item">
								<div class="btn"></div><p class="track-name">XXXTENTACION - Look at me!</p><div class="info"><p>0 plays</p></div>
							</li>
							<li class="track-item">
								<div class="btn"></div><p class="track-name">Pharaoh - Black Siemens</p><div class="info"><p>0 plays</p></div>
							</li>
							<li class="track-item">
								<div class="btn"></div><p class="track-name">Kanye West - Yikes</p><div class="info"><p>0 plays</p></div>
							</li>
							<li class="track-item">
								<div class="btn"></div><p class="track-name">6IX9INE - KEKE</p><div class="info"><p>0 plays</p></div>
							</li>
							<li class="track-item">
								<div class="btn"></div><p class="track-name">lil peep - Usaid</p><div class="info"><p>0 plays</p></div>
							</li>
							<li class="track-item">
								<div class="btn"></div><p class="track-name">record 010219</p><div class="info"><p>0 plays</p></div>
							</li>
							<li class="track-item">
								<div class="btn"></div><p class="track-name">XXXTENTACION - Look at me!</p><div class="info"><p>0 plays</p></div>
							</li>
							<li class="track-item">
								<div class="btn"></div><p class="track-name">Pharaoh - Black Siemens</p><div class="info"><p>0 plays</p></div>
							</li>
							<li class="track-item">
								<div class="btn"></div><p class="track-name">Kanye West - Yikes</p><div class="info"><p>0 plays</p></div>
							</li>
						</ul>
						<div class="space"></div>
					</div>
				</div>
			</div>
			<!-- ENDOF MAIN.HBS -->
		</div>
		<div class="player">
			<div class="player-content">
				<div class="btn btn-prev"></div>
				<div class="btn btn-play"></div>
				<div class="btn btn-next"></div>
				<div class="btn btn-repeat"></div>
				<div class="btn btn-shuffle"></div>
				<div class="playback-timeline">
					<div class="time-passed">0:00</div>
					<div class="timeline-block">
						<div class="time-line"></div>
					</div>
				</div>
				<div class="track-play">
					<div class="track-name">6IX9INE - KEKE</div>
				</div>
				</div>
			</div>
		</div>
	</div>

	
</body>
</html>
