<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Music service</title>
	
	<link rel="stylesheet" type="text/css" href="/css/main.css">

	<script type="text/javascript" src="/js/functions.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
	
	<!-- Upload fixed window -->
	<div class="upload-block unvisible">
		<div class="upload">
			<div class="upload-text">
				<p>Drop files here to upload</p>
			</div>
		</div>
	</div>

	<div class="app">
		<div class="block">
			<!-- MAIN.HBS -->
			<div class="content">
				<div class="music">
					<div class="search">
						<div class="search-wrapper">
							<input type="text" placeholder="Seach for tracks">
						</div>
					</div>
					<div class="tracks">
						<ul></ul>
						<div class="space"></div>
					</div>
				</div>
			</div>
			<!-- ENDOF MAIN.HBS -->
		</div>
		<div class="player">
			<div class="player-content">
				<div class="btn btn-prev"></div>
				<div class="btn btn-play"></div>
				<div class="btn btn-next"></div>
				<div class="btn btn-repeat"></div>
				<div class="btn btn-shuffle"></div>
				<div class="playback-timeline">
					<div class="time-passed">0:00</div>
					<div class="timeline-block">
						<div class="time-line-passed">
							<div class="time-line-circle"></div>
						</div>
						<div class="time-line"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
